{% extends 'base.html' %}
{% block main %}
<div class="container">
    <h1 class="h1">TODO APP</h1>
    <form action="/createtodo" method="post" id="form1">
        <label for="title">TITLE</label>
        <p><input type="text" name="name"></p>
        <label for="todo">TODO</label>
        <p><textarea name="todo" cols="60" rows="10" class="todo"></textarea></p>
        <p><input type="submit" value="Create" style="font-weight: 600;" class="button"></p>
    </form>
    <h5>{{message}}</h5>
</div>
<br>
{% endblock %}