<!DOCTYPE html>
<html>
<head>
  <title>OTP Display - TODO App</title>
  <style>
    body {
      font-family: sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background-color: #f0f0f0;
    }

    .otp-container {
      background-color: #fff;
      padding: 30px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center; /* Center the OTP visually */
    }

    .otp {
      font-size: 24px;
      letter-spacing: 10px; /* Add space between digits */
    }
  </style>
</head>
<body>
  <div class="otp-container">
    <h1>YOUR OTP</h1>
    <p class="otp" id="otpDisplay">{{message}}</p> 
    <p style="font-size: small;">Thanks from FlaskTodoApp by Piyush</p>
  </div>
</body>
</html>
